<!doctype html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="icon" href="{{ url_for('static', filename='media/icon.jpg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/norm-main.css') }}">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <title>Norm</title>
    </head>
    <body onload="">
        <nav class="navbar navbar-gradient" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                    <figure class="image is-64x64 m-3">
                        <img class="is-rounded" height="100px" width="100px" src="{{ url_for('static', filename='media/icon.jpg') }}">
                    </figure>
            </div>
        </nav>
        <!-- navbar -->

        <!-- level-->
        <p id="cpu">CPU</p>
        <p id="temps">TEMPS</p>
        <p id="ram">RAM</p>
        <p id="net">NET</p>
        <p id="disk">DISK</p>
    </body>
</html>
