@charset "utf-8";
@mixin font($font-family, $font-file) {
    @font-face {
      font-family: $font-family;
      src: url($font-file+'.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
}
@include font('Ubuntu', 'Ubuntu-Regular');
@include font('FiraCode', 'FiraCode');
// Set your brand colors
$vi: #9300e2;
$az: #00e1f8;
$ve: #33ca7f;
$gi: #f5cb5c;
$ro: #ed254e;
$ne: #232528;
$bi: #eaf2e3;

// Update Bulma's global variables
$family-sans-serif: 'Ubuntu', sans-serif;
$family-monospace: 'FiraCode', Monospace;
$primary: $vi;
$info: $az;
$success: $ve;
$warning: $gi;
$danger: $ro;
$dark: $ne;
$light: $bi;
$text: $ne;
$background: $bi;
$scheme-main: $bi;
$scheme-main-invert: $ne;

@import "bulma.sass";